@page
@model Activiy_M3_WebApplication1.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About Me</h1>

<p>
    My name is Frans. I am learning ASP.NET Core and C#.
    I am building this website to practice Razor Pages, forms, and web development.
</p>