@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to My Website</h1>

<p>
    Hello! Welcome to my Razor Pages website.
    This website was created using ASP.NET Core Razor Pages.
</p>